.Tile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    transition-duration: 0.4s;
    border-style: none;
    border-radius: 4%;
    border: 1px solid black;
}

@media screen and (max-width: 480px) {
    .TileText {
        font-size: 1.5em;
    }
}

@media screen and (min-width: 480px) and (max-width: 1200px) {
    .TileText {
        font-size: 2em;
    }
}

.Tile:disabled,
.Tile[disabled]{
    color: black;
    border-color: black;
}

@font-face {
    font-family: 'Cabin';
    src: local('Cabin'), url(../../../fonts/Cabin.ttf) format('truetype');
}