#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: red;
}

.Tile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid black; /* Add a border for visual separation */
    font-size: 1rem; /* Adjust font size as needed */
  }

.Tile:hover {
    background-color: #0056b3; /* Darker blue background color on hover */
}

.Row {
    flex-wrap: wrap;
}