.board-container {
    display: flex; /* Center the board horizontally */
    justify-content: center;
    width: 100%; /* Fill remaining width of parent container */
  }
  
  .board-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* Adjust as needed for tile size */
    grid-gap: 2px; /* Add spacing between tiles */
  }
  
  .board-row {
    display: flex; /* Allow tiles to wrap if needed */
  }
  
  .board-tile {
    background-color: #ddd; /* Set a default background color */
    border: 1px solid #ccc; /* Add a border for visibility */
  }
  

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: red;
}

.Tile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 2rem;
    transition-duration: 0.4s;
    border-style: none;
    border-radius: 4%;
    border: 1px solid black;
}

.Tile:disabled,
.Tile[disabled]{
    color: black;
    border-color: black;
}

.Row {
    flex-wrap: wrap;
}

@font-face {
    font-family: 'Cabin';
    src: local('Cabin'), url(../../fonts/Cabin.ttf) format('truetype');
}

body {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0)
}