#container {
    height: 100%;
    width: 100%;
    background-color: red;
}

.Tile {
    height: 100%;
    width: 100%;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
}

.Row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}